version: "3.8"
services:
  app:
    build: .
    volumes:
      - ./:/app
    environment:
      - PYTHONUNBUFFERED=1
      - DISPLAY=host.docker.internal:0
    command: ["xvfb-run", "-s", "-screen 0 1024x768x24", "python", "1212.py"]
